* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

.home {
    height: 100%;
    width: 100%;
}

.Home {
    background-image: url("./img/photo-1653234254755-84bf949832da.avif");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body,
html {
    height: 100%;

}

.heading1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 400px;
    color: rgb(9, 8, 8);
    font-family: "Segoe UI", Arial, sans-serif;
}

.heading2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 430px;
    color: rgb(8, 8, 8);
    font-family: "Lato", sans-serif;
}

.heading3 {
    text-align: center;
    margin-top: 60px;
}

.heading4 {
    text-align: center;
    margin-top: 30px;
    color: rgb(125, 120, 120);
    font-style: italic;
}

.paragraph1 {
    text-align: center;
    width: 812px;
    margin: 20px auto;
    word-break: break-all;
    color: rgb(9, 8, 8);
    font-family: "Lato", sans-serif;
}

.container {
    margin-top: 50px;
    display: flex;
    height: 35vh;
    justify-content: center;
}
.item1 {
    width:250px;
    height:250px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 30px;  
    text-align: center; 
    font-family: "Lato", sans-serif;
}
.TOUR{
    margin-top:10px;
    height: 700px;
    background-color: #090909;
}

.container2{
    margin: 100px;
    margin-top: 10px;
    display: flex;
    height: 30vh;
    justify-content: center;
    flex-direction: column;
    /* border: 6px solid rgb(208, 19, 19); */
}
.h1{
    margin-top:20px;
    color: white;
    text-align: center;
}
.h2{
    padding-top: 10px;
    color: rgb(175, 171, 171);
    text-align: center; 
    font-style: italic; 
}
.list{
    display: flex;
    flex-direction: column;
    margin:50px;
}
.item11{
    color: rgb(85, 81, 81);
    background-color:white;
    padding-bottom:20px;
}
.item12{
    margin-top:1px;
    color: rgb(85, 81, 81);
    background-color:white;
    padding-bottom:20px;
}
.item13{
    margin-top:1px;
    color: rgb(85, 81, 81);
    background-color:white;
    padding-bottom:20px;
}
.CONTACT{
    margin-top:20px;
    height: 700px;
}
.hd{
    color: black;
    text-align: center;
    margin-top: 20px;
}
.ph{
    margin-top:10px;
    text-align: center;
    color: rgb(177, 175, 175);
    font-style: italic;
}
.map{
    background-image: url("./img/Screenshot\ \(3\).png");
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container3{
        
}